---
layout: default
---

<div class="home">

  {% if site.theme.header_text %}
  <div class="call-out">{{ site.theme.header_text }}</div>
  {% endif %}

  <div class="pages">
    {% for post in site.tpe %}
    <div class="pages-teaser">
    
      <header>
        <h1>
          <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        
        <!---
		<p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
		-->
      </header>

      <div class="excerpt">
        {% if post.excerpt %}{{ post.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}

        <a class="button" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a>
      </div>
      
    </div>
    {% endfor %}
  </div>

</div>
