---
layout: default
---

<div class="home">
  {% if site.theme.header_text %}
  <div class="call-out" 
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
    {{ site.theme.header_text }}
  </div>
  {% endif %}

  <div class="pages">
    {% for post in site.tpe %}
    <div class="pages-teaser">
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title | capitalize }}
          </a>
        </h1>
      </header>
      <div class="excerpt">
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
