---
layout: default
---

<div class="home">

  {% if site.theme.header_text %}
  <div class="call-out">{{ site.theme.header_text }}</div>
  {% endif %}

  <div class="posts">
    {% for pages in site.tpe %}
    <div class="pages-tpe">
    
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h1>
        
        <!---
		<p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
		-->
      </header>

      <div class="excerpt">
        {{ page.excerpt }}

        <a class="button" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a>
      </div>
      
    </div>
    {% endfor %}
  </div>

</div>
