<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-Frame-Options" content="sameorigin">

    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.theme.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Fonts -->
    <script>
    {% include fontloader.js %}
    loadFont('Open Sans', [400, '400-italic', 600], 'sans-font-loaded')
    </script>
    
    {% if site.theme.google_analytics %}
    <!-- Google Analytics async : https://goo.gl/3FPNDx -->
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ site.theme.google_analytics }}', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    {% endif %}
    
    {% if page.katex %}
    <!-- KaTeX, see https://cdnjs.com/libraries/katex and https://github.com/Khan/KaTeX -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
    {% endif %}
</head>
