// ==========================================================================
// Fonts
// ==========================================================================

@font-face {
  font-family: 'charter-regular';
  src: url('/fonts/charter-regular-webfont.woff2') format('woff2'),
       url('/fonts/charter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

%font-charter-regular {
  font-family: 'charter-regular', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charter-italic';
  src: url('/fonts/charter-italic-webfont.woff2') format('woff2'),
       url('/fonts/charter-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

%font-charter-italic {
  font-family: 'charter-italic', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charter-bold';
  src: url('/fonts/charter-bold-webfont.woff2') format('woff2'),
       url('/fonts/charter-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

%font-charter-bold {
  font-family: 'charter-bold', sans-serif;
  font-weight: normal;
  font-style: normal;
}