@media all {
html {
    font-size: $font-size;
}
}
@media all and (max-width: 1000px) {
html {
    font-size: $font-size;
}
}
@media all and (max-width: 960px) {
html {
    font-size: 23px;
}
}
@media all and (max-width: 920px) {
html {
    font-size: 22px;
}
}
@media all and (max-width: 880px) {
html {
    font-size: 21px;
}
}
@media all and (max-width: 840px) {
html {
    font-size: 20px;
}
}
@media all and (max-width: 800px) {
html {
    font-size: 19px;
}
}
@media all and (max-width: 760px) {
html {
    font-size: 18px;
}
}
@media all and (max-width: 720px) {
html {
    font-size: 17px;
}
}
@media all and (max-width: 680px) {
html {
    font-size: 16px;
}
}
@media all and (max-width: 640px) {
html {
    font-size: 15px;
}
}
@media all and (max-width: 600px) {
html {
    font-size: 14px;
}
}
@media all and (max-width: 560px) {
html {
    font-size: 13px;
}
}
@media all and (max-width: 520px) {
html {
    font-size: 12px;
}
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  background: $background-color;
}

// typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}
.sans-font-loaded body {
  font-family: $font-sans;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0.67em 0 0.35em;
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.15em;
}
blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}
p, ol, ul, dl {
  line-height: 1.5;
  margin-bottom: 1em;
}
ol, ul {
  list-style-position: outside;
  margin-left: 1em;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0; }
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
